[DATABASE]
type=mysql
username=seafevents
password=seafevents
name=seafevents
host=localhost

[DATABASE]
type = sqlite3
path = seafevents.db

[FILE HISTORY]
enabled = true
#suffix = all
suffix=txt,pdf,txt,md,jpg
